@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  font-family: inherit;
}

header, footer {
  background-color: #222;
  height: 48px;
  display: flex;
  align-items: center;
  padding-left: 16px;
  a:first-of-type {
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 700;
    color: #ddd;
  }
}

body {
  margin: 0;
  padding: 0;
}

.restaurant-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .restaurant {
    display: flex;
    flex-direction: column;
    width: 350px;
    margin: 15px;
    padding: 15px;
    border-radius: 8px;
    border: solid 1px #ddd;
    transition: box-shadow 0.4s;
    &:hover {
      -webkit-box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
      box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
    }
    h3 {
      color: rgb(231, 148, 24);
      text-transform: uppercase;
    }
    p {
      flex: 1;
    }
    a {
      color:rgb(231, 107, 24);
      text-decoration: none;
      display: block;
      text-align: right;
      transition: color 0.5s;
      &:hover {
        color:rgb(116, 73, 10)
      }
    }
    img {
      width: 100%;
    }
  }
}

.restaurant-detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  .restaurant-detail-header {
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    h2 {
      color:rgb(231, 107, 24);
    }
  }
  .comment-form {
    width: 100%;
    max-width: 1080px;
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    padding-right: 40px;
    .name-input {
      height: 45px;
      border-radius: 6px;
      border-color: #ddd;
      padding-left: 15px;
      margin-bottom: 15px;
    }
    .content-input {
      height: 150px;
      border-radius: 6px;
      border-color: #ccc;
      padding-left: 15px;
      padding-top: 15px;
      margin-bottom: 15px;
    }
    .comment-button {
      height: 45px;
      background-color: rgb(182, 122, 33);
      border: none;
      border-radius: 7px;
      font-size: 1.1em;
      padding: 0;
      transition: background-color 0.4s;
      &:hover {
        background-color: rgb(150, 107, 14);
      }
    }
  }
}
.comment-box {
  width: 100%;
  max-width: 1080px;
}
.comment-container {
  margin-top: 30px;
  padding-left: 40px;
  padding-right: 40px;
  .comment {
    border-top: solid 1px #ddd;
    min-height: 80px;
    .comment-name {
      margin-top: 8px;
      color:rgb(231, 107, 24);
      font-weight: bold;
    }
    .comment-content {
      margin-top: 4px;
    }
  }
}